.container {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  gap: 13px;
  padding: 6px;

  border: 1px solid #fff;
  transition: all ease .2s;
}

.button {
  background-color: #f9f9fb;
  border-radius: 5px;
  width: 48px;
  height: 48px;
}

.input {
  flex: 1;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 1rem;
}
