.container {
  background-color: #fff;
  box-shadow: 0 8px 40px rgba(0, 0, 0, .08);
  border-radius: 8px;
  overflow: hidden;
}

.head {
  height: 90px;
  background-color: #fff9f2;
}

.info {
  padding: 13px;
}

.info .imageContainer {
  margin-top: -100px;
  text-align: center;
}

.info .imageContainer img {
  width: 75%;
  height: auto;
}

.info .categoryName,
.info .productName {
  color: #1b1b1b;
}

.info .categoryName {
  font-weight: 500;
  font-size: 8px;
}

.info .productName {
  font-weight: 700;
  font-size: 1.12rem;
}

.info .productPrice {
  font-weight: 600;
  font-size: .93rem;
  color: #fb9400;
}
